.allUsers {
    padding: 30px;
    margin-top: 30px;
    background-color: #f4f4f4; /* Light grey background */
    border-radius: 8px;
  }
  
  h2 {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .errorMessage {
    color: red;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }
  
  .loadingText {
    color: #666;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
  }
  
  table {
  border: 1px solid #ddd;
  width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
  }
  
  th, td {
  background-color: #f7f7f7;
    
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    color: #000000;
    font-size: 16px;
  }
  
  td {
    background-color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9; 
  }
  
  tr:hover {
    background-color: #ecf0f1;
  }
  
  .noUsers {
    font-size: 18px;
    color: #777;
    text-align: center;
  }
